header {
    max-width: auto;
}

.flex1 {
    display: flex;
    aligin-items: flex-end;
}

.main__ttl {
    display: inline-block;
    color: blue;
    font-size: 30px;
    margin: 20px 20px;
}

.flex2 {
    display: flex;
    justify-content: flex-end;

}
ul {
    display: inline-block;
    color: blue;
    font-size: 20px;
    margin: -45px 5px;
}

li {
    display: inline-block;
    margin-right: 20px;
}

main {
    max-width: auto;
}

.content {
    margin-top: 500px;
    font-size: 80px;
}

.relative {
    position: relative;
}

.blue-box {
    max-width: 70%;
    height: 200px;
    background-color: blue;
}

.absolute {
    position: absolute;

    top: -500px;
    left: 1020px;
}

img {
    width: aute;
    height: 600px;
}