.flex {
    display: flex;
    justify-content: space-between;
}

.main__ttl {
    color: blue;
    font-size: 30px;
    margin: 10px;
}

ul {
    margin: 15px;
}

li {
    display: inline-block;
}

.content {
    margin-top: 200px;
    font-size: 60px;
}

.relative {
    position: relative;
}

.blue-box {
    width: 1000px;
    height: 200px;
    background-color: blue;
}

.absolute {
    position: absolute;
    top: -500px;
    left: 800px;
}